## .NET
bin/
obj/
out/

## Rider / VS / VS Code
.vs/
.vscode/*
!.vscode/extensions.json
.idea/
*.user
*.suo

## Test results
[Tt]est[Rr]esult*/
*.trx

## SQLite runtime files (created by WalletSeeder, not committed)
*.db
*.db-shm
*.db-wal

## Logs
*.log

## OS
.DS_Store
